:root {
  --primary: #687876;
  --secondary: #295880;
  --dark: #171716;
  --light: #FCFBF2;
  --earth: #F5A83E;
  --tigerseye: #C45105;
  --corners: 15px;
}

.ui.button {
  color: var(--light);
  background: var(--tigerseye);
}

.ui.button:hover {
  color: var(--light);
  background: var(--earth);
}

/* .ui.floating.positive.message {
  border-radius: var(--corners);
}

.ui.floating.negative.message {
  border-radius: var(--corners);
}

.ui .card {
  border-radius: var(--corners);
} */