/* Global Styles - old colors for reference */
/* :root {
--primary: #52796F;
--secondary: #354F52;
--dark: #2F3E46;
--light: #FEFAE0;
--earth: #DDA15E;
--tigerseye: #BC6C25;
} */

:root {
  --primary: #687876;
  --secondary: #486f6a;
  --dark: #171716;
  --light: #FCFBF2;
  --earth: #F5A83E;
  --tigerseye: #C45105;
  --corners: 15px;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
}

#entry-screen {
  /* Not sure why relative path isn't working */
  background-image: url("../images/camping-background-hazy.jpg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#entry-content {
  text-align: center;
  max-width: 450px;
  background-color: var(--light);
  border-radius: 15px;
  padding: 5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

label {
  padding: 0 10px 0 0;
}

.zip-input {
  margin: 10px 0 0 0;
}

header {
  padding: 20px;
  height: 10vh;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 0 0 15px 15px;
}

/* Main Content Container */
#content-container {
  color: var(--light);
  padding: 20px;
}

/* Search Form */
#col-one .search-form {
  color: var(--dark);
  display: flex;
  justify-content: center;
}

#col-one .search-form input {
  width: 90%;
}

/* Results Section */
.message {
  max-width: 600px;
}

/* Extra Resources Section */
#resources-container {
  padding: 20px 0;
  max-width: 800px;
}

.resource {
  min-height: 800px;
}

.r-button {
  margin: 20px 0 0 0;
}